.title-dino {
  font-size: 28px;
  line-height: 36px;
  color: #FCFDFC;
  font-family: 'Bungee', sans-serif;
  margin-top: var(--gap-big);
  margin-bottom: var(--gap-big);
}


@media (min-width: 545px)  and (max-width: 768px) {
  .title-dino{
    margin-top: 15%;
  }
}
@media only screen and (min-width: 768px) {
  .title-dino{
    font-size: 32px;
  }
}
@media only screen and (min-width: 1024px) {
  .title-dino{
    margin-top: 20%;
    font-size: 50px;
    line-height: 60px;
  }
}