body {
  /* background: linear-gradient(181.15deg, #7E5002 20.16%, #E69405 36.19%, #FAD121 98.57%) #FAD121 no-repeat;  */
  background-color: #FAD121;
  background-image: linear-gradient(181.15deg, #7E5002 20.16%, #E69405 36.19%, #FAD121 98.57%);
  background-repeat: no-repeat;
  font-family: 'Nunito', sans-serif;
  color: #73263d;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
}
@media only screen and (min-width: 768px) {
  body{
    background: linear-gradient(180.58deg, #7E5002 25.7%, #E69405 44.23%, #FAD121 98.65%);
    font-size: 18px;
    line-height: 28px;
  }
}

@media only screen and (min-width: 1024px) {
  body{
    font-size: 24px;
    line-height: 33px;
  }
}
